<div class="container">
  <mat-card class="form-container">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <h4 for="email">Email</h4>
        <mat-form-field class="input-field" appearance="outline">
          <input matInput type="text" matInput formControlName="email" />
        </mat-form-field>
        <div *ngIf="email?.invalid && email?.dirty">
          <div *ngIf="email?.errors?.['required']" class="error">
            Email is required
          </div>
          <div *ngIf="email?.errors?.['email']" class="error">
            Email is invalid
          </div>
        </div>
      </div>

      <div class="form-group">
        <h4 for="name">Name</h4>
        <mat-form-field class="input-field" appearance="outline">
          <input matInput type="text" matInput formControlName="name" />
        </mat-form-field>
        <div *ngIf="name?.invalid && name?.dirty">
          <div *ngIf="name?.errors?.['required']" class="error">
            Name is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <h4 for="username">Username</h4>
        <mat-form-field class="input-field" appearance="outline">
          <input matInput type="text" matInput formControlName="username" />
        </mat-form-field>
        <div *ngIf="username?.invalid && username?.dirty">
          <div *ngIf="username?.errors?.['required']" class="error">
            username is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <h4 for="password">Password</h4>
        <mat-form-field class="input-field" appearance="outline">
          <input matInput type="password" matInput formControlName="password" />
        </mat-form-field>
        <div *ngIf="password?.invalid && password?.dirty">
          <div *ngIf="password?.errors?.['required']" class="error">
            password is required
          </div>
          <div *ngIf="password?.errors?.['minlength']" class="error">
            password is short
          </div>
        </div>
      </div>

      <div class="btn-container">
        <button mat-flat-button color="primary" class="btn">Register</button>
        <button
          [ngStyle]="{ marginLeft: '1rem' }"
          mat-flat-button
          color="warn"
          class="btn"
          (click)="redirectLogin()"
        >
          Login
        </button>
      </div>
    </form>
  </mat-card>
</div>
