.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.form-container {
  margin: 0.5rem;
  padding: 2rem;
  width: 30%;
}

.form-group {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn {
  margin-top: 1rem;
}

.radio-btn-container {
  width: 100%;
  text-align: center;
}

.input-field {
  width: 100%;
  height: 4rem;
}
