.card-container {
  width: 15rem;
  height: 18rem;
  margin: 0.5rem;
  padding: 1rem;
}

.btn-container {
  bottom: 0;
  position: absolute;
  margin-bottom: 1.5rem;
  gap: 0.5rem;
  margin-left: 1rem;
}

.btn {
  height: 2rem;
}

.card-content {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}
