.card-container {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem 1.5rem;
}

.card-header {
  margin-bottom: 1.5rem;
}

.card-content {
  margin-bottom: 1.5rem;
}

.btn {
  margin-right: 0.5rem;
  height: 2rem;
}

.comment-container {
  margin-top: 1rem;
}
